@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-bottom: 80px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    width: 70%;
    ul{
        list-style-type: none;  
        margin-top: 25px;  
        .title_nav{
            font-size: 25px;
            font-weight: bold;
            color: $verydark_blue;
        }

        li{
            display: inline-block;
            font-size: 14px;
            color: $neutral_gray;
            font-weight: bold;
            margin: 0 15px;
            cursor: pointer;
    
            &:hover{
                color: $verydark_blue;
            }
        }
    
        .signup{
            background-color: $primary_cyan;
            padding: 8px 20px;
            border-radius: 30px;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: hsl(180, 66%, 71%);
                color: white;
            }
        }
    }
}


.header__container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    div:first-child{    
        width: 60%;
        margin: 0 auto;
        padding: 0 15px;
        
        div{
            margin-right: 40px;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1{
                color: $verydark_blue;
                font-size: 45px;
                width: 100%;
            }

            p{
                color: $neutral_gray;
            }

            button{
                margin-top: 25px;
                padding: 8px 25px;
                border-radius: 30px;
                font-size: 16px;
                color: white;
                font-weight: bold;
                background-color: $primary_cyan;
                border: none;
                cursor: pointer;

                &:hover{
                    background-color: hsl(180, 66%, 71%);
                }
            }
        }
    }
}

section{
    background-color: $second_bg;
    .section__container{
        padding: 0 15px;
        margin: 0 auto;
        width: 70%;

        .div_form{
            margin: 0 15px;
            display: flex;
            justify-content: center;
           
            form{
                background: $primary_darkviolet url(../images/bg-shorten-desktop.svg);
                padding: 40px;
                width: 100%;
                margin-top: -50px;
                display: flex;
                border-radius: 8px;
                justify-content: space-between;

                #link{
                    padding: 12px;
                    border-radius: 8px;
                    outline: none;
                    border: none;
                    width: 81%;
                }

                .submit{
                    padding: 5px 30px;
                    border: none;
                    outline: none;
                    background-color: $primary_cyan;
                    color: white;
                    border-radius: 8px;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover{
                        background-color: hsl(180, 66%, 71%);
                    }
                }
            }
        }

        .urls{
            margin: 30px 15px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;

            .urls__container{
                background-color: white;
                padding: 20px;
                width: 100%;
                border-radius: 8px;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;

                .link_arr{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 65%;
                }

                div{
                    display: flex;

                    p{
                        margin-right: 20px;
                        color: $primary_cyan;
                    }

                    button{
                        padding: 5px 25px;
                        border: none;
                        outline: none;
                        background-color: $primary_cyan;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }

        .advance_stats{

            .title{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                h1{
                    font-size: 32px;
                    color: $verydark_blue;
                }

                p{
                    width: 45%;
                    margin-top: 10px;
                    text-align: center;
                    color: $neutral_gray;
                    font-weight: bold;
                }
            }
            
            .three_blocks{
                margin-top: 100px;
                display: flex;
                justify-content: space-between;
                position: relative;
                
                div{
                    background-color: white;
                    margin: 0 15px;
                    padding: 20px 3px 10px 3px;
                    border-radius: 5px;
                    position: relative;
                    height: fit-content;
                    z-index: 5;
                }
                
                h3{
                    color: $verydark_blue;
                    margin-top: 30px;
                }

                p{
                    color: $neutral_gray;
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }

                .detailed{
                    margin-top: 35px;
                }

                .fully {
                    margin-top: 70px;
                }

                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $primary_darkviolet;
                    border-radius: 50%;
                    width: 60px;
                    height: 40px;
                    position: absolute;
                    top: -2.5rem;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                }

                .line_green{
                    display: block;
                    background: $primary_cyan;
                    height: 0.5rem;
                    width: 70%;
                    position: absolute;
                    top: 9rem;
                    left: 1rem;
                }
            }
        }
    }

    .boost{
        padding: 50px 0;
        margin-top: 70px;
        background: $primary_darkviolet url(../images/bg-boost-desktop.svg);

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1{
                color: white;
                font-size: 32px;
            }

            button{
                margin-top: 20px;
                outline: none;
                border: none;
                color: white;
                padding: 8px 25px;
                background-color: $primary_cyan;
                border-radius: 30px;
                cursor: pointer;

                &:hover{
                    background-color: hsl(180, 66%, 71%);
                }
            }
        }
    }
}

footer{
    background-color: $verydark_violet;

    .footer_container{
        padding: 40px 15px 50px 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 70%;

        div{
            margin: 0 15px;
            
            h1{
                color: white;
            }
        }


        .footer__three{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            div{
                margin: 0 45px;
                
                h4{
                    color: white;
                    font-size: 15px;
                }

                ul{
                    list-style: none;
                    margin-top: 15px;
                    font-size: 12px;
                    color: $neutral_gray;

                    li{
                        margin-bottom: 8px;
                        cursor: pointer;

                        &:hover{
                            color: $primary_cyan;
                        }
                    }
                }
            }
        }
        
        .social_icons{
            display: flex;
            margin-top: 10px;
            div{
                cursor: pointer;
            }
            
            .fb:hover path{
                fill: $primary_cyan;
            }
            .tw:hover path{
                fill: $primary_cyan;
            }
            .pt:hover path{
                fill: $primary_cyan;
            }
            .ig:hover path{
                fill: $primary_cyan;
            }
        }
        
    }
}